<launch>
    <!-- uas_1 -->
    <group>
        <arg name="id" default="1" />
        <include file="$(find-pkg-share offboard_control)/launch/offboard_position_control.launch">
            <arg name="namespace"
                value="$(eval ' \'offboard_position_control_node_\' + \'$(var id)\' ')" />
            <arg name="air_line_dt" value="0.02" />
            <arg name="air_line_initial_angle" value="0.00" />
            <arg name="air_line_radius" value="2.00" />
            <arg name="air_line_angular_velocity" value="1.00" />
            <arg name="air_line_height" value="1.00" />
            <arg name="subscribe_namespace" value="$(eval ' \'/mavros/uas_\' + \'$(var id)\' ')" />
        </include>
    </group>
    <group>
        <arg name="id" default="2" />
        <include file="$(find-pkg-share offboard_control)/launch/offboard_position_control.launch">
            <arg name="namespace"
                value="$(eval ' \'offboard_position_control_node_\' + \'$(var id)\' ')" />
            <arg name="air_line_dt" value="0.02" />
            <arg name="air_line_initial_angle" value="0.00" />
            <arg name="air_line_radius" value="4.00" />
            <arg name="air_line_angular_velocity" value="1.00" />
            <arg name="air_line_height" value="1.00" />
            <arg name="subscribe_namespace" value="$(eval ' \'/mavros/uas_\' + \'$(var id)\' ')" />
        </include>
    </group>
</launch>
    